blinker==1.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dnspython==2.7.0
email-validator==2.0.0
filelock==3.18.0
Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
fsspec==2025.5.1
greenlet==3.2.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
networkx==3.3
packaging==25.0
psycopg2-binary==2.9.10
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
setuptools==70.2.0
six==1.17.0


tzdata==2025.2
urllib3==2.5.0
Werkzeug==2.3.7
